@import '~bootstrap/scss/bootstrap';

footer{
    font-size: 0.7rem;

    .top_footer {
        background-image: url('../img/footer-bg.jpg');
        background-size: cover;
        overflow: hidden;
        height: 399px;

    .footer_logo {
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0, -50%);
            scale: 0.8;
        };
    }

}
